<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">System</div>
                <a class="nav-link" routerLink="/home">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Home
                </a>

                <div class="sb-sidenav-menu-heading">Records</div>
                <a class="nav-link" routerLink="/clients/form">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Clients
                </a>
                <a class="nav-link" routerLink="/clients/list">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Search Clients
                </a>

                <div class="sb-sidenav-menu-heading">Services</div>
                <a class="nav-link" routerLink="/services/form">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    New Service
                </a>
                <a class="nav-link" routerLink="/services/search">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Search
                </a>

                <div *ngIf="usernameAuthenticated">
                    <div class="sb-sidenav-menu-heading">Logout</div>
                    <a class="nav-link" (click)="logout()" href="#">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </div>
                        Logout
                    </a>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{ usernameAuthenticated }}
        </div>
    </nav>
</div>